fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
langchain
langchain-community
langchain-qdrant
langchain-huggingface
langchain-text-splitters
sentence-transformers
qdrant-client
pydantic-settings
pandas
openpyxl
pymupdf
python-docx
